root = true
#####################################################
# Globale Standardwerte
#####################################################
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 160
trim_trailing_whitespace = true
#####################################################
# CI/CD & Build-Skripte
#####################################################
[Jenkinsfile]
indent_size = 4
[Jenkinsfile.*]
indent_size = 4
[Makefile]
indent_size = 4
indent_style = tab
#####################################################
# Markdown / Text / Dokumentation
#####################################################
[*.md]
trim_trailing_whitespace = false
max_line_length = off
[*.rst]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false
#####################################################
# Konfigurationsformate
#####################################################
[*.yml]
indent_size = 2
indent_style = space
[*.yaml]
indent_size = 2
indent_style = space
[.github/*.yml]
indent_size = 2
indent_style = space
[.github/*.yaml]
indent_size = 2
indent_style = space
[Dockerfile]
indent_size = 2
indent_style = space
[Dockerfile.*]
indent_size = 2
indent_style = space
[.env]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false
[*.env]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false
[*.json]
indent_size = 2
indent_style = space
[*.toml]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false
[*.ini]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false
#####################################################
# Programmierung
#####################################################
[*.py]
indent_size = 4
indent_style = space
[*.sh]
indent_size = 2
indent_style = space
[*.java]
indent_size = 4
indent_style = space
[*.kt]
indent_size = 4
indent_style = space
[*.groovy]
indent_size = 4
indent_style = space
[*.js]
indent_size = 2
indent_style = space
[*.ts]
indent_size = 2
indent_style = space
[*.html]
indent_size = 2
indent_style = space
[*.css]
indent_size = 2
indent_style = space
[*.scss]
indent_size = 2
indent_style = space
[*.xml]
indent_size = 2
indent_style = space
[*.tf]
indent_size = 2
indent_style = space
[*.php]
indent_size = 4
indent_style = space
[*.rb]
indent_size = 2
indent_style = space
[*.rs]
indent_size = 4
indent_style = space
[*.c]
indent_size = 4
indent_style = space
[*.cpp]
indent_size = 4
indent_style = space
[*.h]
indent_size = 4
indent_style = space
[*.go]
indent_size = 4
indent_style = tab
[*.ps1]
indent_size = 2
indent_style = space
[*.cs]
indent_size = 4
indent_style = space
[*.pl]
indent_size = 4
indent_style = space
#####################################################
# Datenformate / Skripte
#####################################################
[*.sql]
indent_size = 2
indent_style = space
[*.mod]
indent_size = 2
indent_style = space
[*.sum]
indent_size = 2
indent_style = space
